---
import IngredientsBlock from "../components/IngredientsBlock.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Add New post</h1>
  <form>
    <div>
      <div id="ingredients-container">
        <IngredientsBlock />
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</Layout>

<template id="ingredient-template">
  <IngredientsBlock />
</template>

<script>
  import { actions } from "astro:actions";

  const form = document.querySelector("form");
  form.addEventListener("submit", async (event) => {
    // event.preventDefault();
    const formData = new FormData(form);
    const { error } = await actions.addRecipe(formData);
  });
</script>
