<div class="ingredient-block">
  <input type="text" class="ingredient-input" placeholder="Add an ingredient..." />
  <button type="button" class="remove-ingredient">x</button>
</div>

<script>
  console.log('Welcome, browser console!');
</script>
